#group #group_members {
    width: 75%;
    display: block;
}

#group #group_members tr:last-child td {
    text-align: justify;
}

#application #diagram {
    width: 75%;
    background: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

#vcs p:last-child {
    text-align: center;
    font-weight: bolder;
}

#work_division #costing {
    width: 75%;
}
#work_division #costing th {
    width: 60%;
}
#work_division #costing td {
    width: 40%;
}